@model EpamNetProject.BLL.models.UserProfileDTO

<p>@Html.ActionLink(Resources.Resource.ACCOUNT_EDITPROFILE, "Edit", "Account")</p>
<p id="Balance">@Resources.Resource.ACCOUNT_BALANCE - @Html.DisplayFor(x => x.Balance)</p>
<input type="number" id="BalanceCount"/> <button onclick="">@Resources.Resource.ACCOUNT_ADDTOBALANCE</button>
@{
    Html.RenderAction("PurchaseHistory");
}
<script>
function add() {
    var count = $('#BalanceCount').val();
      $.ajax({
      url:@Url.Action("AddToBalance"),
      method: "POST",
      data: {count: count}
      }).done(function(data){
      	if(data.Success){
      		$('#Balance').val(data.NewBalance);
      	} 
      })
}

</script>
