@using Resources
@model int
@if (Model > 0)
{
    @Html.ActionLink(Resource.BASKETDESCRIPTION + "(" + Model + " " + Resource.BASKETITEMSCOUNT + ")", "ProceedToCheckout", "Events", new {area = "Events"}, null)
}
else
{
    <span></span>
}