.editEvent__block {
  width: 700px;
  & .event--item {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;

    &__name {
      font-size: 1.5em;
    }

    &__actions {
      & a{
        margin-right: 10px;
      }
    }
  }
  &__AddNew{
    text-decoration: none;
    font-size: 2em;
    text-decoration-color: #FFFFFF;
    width: 50px;
    height: 15px;
    background-color: #4cae4c;
  }
}
.editEvent__form{
  width: 700px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  & p {
    margin: 10px 0 0 10px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
  }
  & input,select {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
}

.tooltip{
  display:none;
  position:fixed;
  overflow:hidden;
}
.modal,.modal-seat{
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  z-index: 8;
  background: rgba(16, 16, 16, 0.2);
  align-items: center;
  align-content: center;
  justify-content: center;
  & div {
    width: 400px;
    height: 500px;
    position: absolute;
    z-index: 10;
    background-color: whitesmoke;
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: center;
    box-shadow: 0 0 10px 10px #313131;
    &>p{
      margin-top: 10px;
    }
  }
}
