@using EpamNetProject.BLL.Models
@helper ISM(List<EventAreaDto> areas, List<EventSeatDto> seats, string link)
{
    <div id="ISM__MAP" style="position: relative; height: 600px; width: 500px;align-self: center;"></div>
    <h1 class="ErrorClass" hidden="hidden">
        This seat not available
    </h1>
    <script>
    var map = document.getElementById('ISM__MAP');
    function sendRequest(e) {
      if(e.target.dataset.seatStatus === '0'){
      	$.ajax({
      	url:'@link',
      	method: "POST",
      	data: {id: e.target.dataset.seatId}
      	})
      	.done(function(data) {
      	  if(data){
      	  	e.target.dataset.seatStatus = '1';
      	  	$('.ErrorClass').hide()
      	  } else {
      	  	$('.ErrorClass').show();
      	  }
      	})
      };
    }
    function generateArea(x,y) {
    	var el = document.createElement("div");
        el.style.position = "absolute";
        el.style.top = y + 'px';
        el.style.left = x + 'px';
        el.style.background = '1px solid red';
    	return el;
    }
    function generateSeat(row,number,id,status) {
        var el = document.createElement("p");
        el.style.margin = '0';
        el.style.marginTop = row + 'px';
        el.style.marginLeft = number+ 'px';
        el.dataset.seatId = id;
        el.dataset.seatStatus = status;
        el.classList.add('seat');
        if (status === 0) {
            el.onclick = function (ev) { sendRequest(ev) };
        }
        el.innerText = row + ' ' + number;
        	return el;
        }
    
    @foreach (var t in areas)
    {
        var x = t.CoordX;
        var y = t.CoordY;
        var currentSeats = seats.Where(a => a.EventAreaId == t.Id);
        @:var areaElement = generateArea(@x,@y);

        foreach (var seat in currentSeats)
        {
            @:var seat = generateSeat(@seat.Row,@seat.Number,@seat.Id,@((int)seat.State));
            @:areaElement.appendChild(seat);
        }
        @:map.appendChild(areaElement);
    }
    </script>
}
