@using EpamNetProject.BLL.Models

@helper ISM(List<EventAreaDto> areas, List<EventSeatDto> seats, string link)
{
	<table id="ISM__TABLE__MAP">
		@for (int i = 0; i < 1000; i++)
		{
			<tr>
				@for (int j = 0; j < 1000; j++)
				{
					<td></td>
				}
			</tr>
		}
	</table>
	<h1 class="ErrorClass" hidden="hidden">
		This seat not available
	</h1>
	<script>
    var myTable = document.getElementById('ISM__TABLE__MAP');
    function sendRequest(e) {
      if(e.target.dataset.seatStatus === '0'){
      	$.ajax({
      	url:@link,
      	method: "POST",
      	data: {id: e.target.dataset.seatId}
      	})
      	.done(function(data) {
      	  if(data){
      	  	$('.ErrorClass').hide()
      	  } else {
      	  	$('.ErrorClass').show();
      	  }
      	})
      };
    }
    function setTableCell(x,y,seats) {
    	myTable.rows[y-1].cells[x-1].innerHTML= seats.reduce(function(prev,el) {
    	    return prev.concat("<td onclick='function (e){sendRequest(e)}' data-seatId=" + el.Id +"data-seatStatus=" + el.Status +"></td>")
    	},"");
      
    }
    @foreach (var t in areas)
    {
        var x = t.CoordX;
        var y = t.CoordY;
        var currentSeats = seats.Where(a => a.EventAreaId == t.Id).ToArray();
        @:setTableCell(@x,@y,@currentSeats);
    }
    </script>
}
