<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <connectionStrings>
        <add name="SqlConnectionString"
             connectionString="Data Source=ANDREIANELKBA14\SQLEXPRESS;Initial Catalog=epam-net-project-db;Integrated Security=True" />
    </connectionStrings>
    <appSettings>
        
    </appSettings>
</configuration>
